  <p>
    <strong>Category:</strong>
   
    </p>
    <p>
    <strong>Author:</strong>
    <%= @article.name %>
    </p>
    
    <p>
    <strong>Title:</strong>
    <%= @article.title %>
    </p>
     <p>
    <strong> Date :</strong> <br>
    <%= Date.today %>
    </p>
    <p>
    <strong> Image :</strong> <br>
    <% if image_tag @article.image.url(:medium) %>
    No Image Provided
    <%else%>
    <%= image_tag @article.image.url(:medium) %>
    </p>
    <%end%>
    
    <p>
        <strong>Text:</strong>
        <%= @article.text %>
    </p>
 
<h2>Replies</h2>
<%= render @article.replies %>

<h2>Reply: </h2>
<div id="reply_rules"><%= link_to 'Posting Rules', '/rules' %></div>
<%= render 'replies/form' %>

<%= link_to 'Blog List', articles_path %>
<%= render_shareable %>