<p>
    <strong>Title:</strong>
    <%= @article.title %>
    </p>
    
    <p>
        <strong>Text:</strong>
        <%= @article.text %>
    </p>
  <%= link_to 'Blog List', articles_path %> 
<h2>Replies</h2>
<%= render @article.replies %>

<h2>Reply: </h2>
<%= render 'replies/form' %>

<%= link_to 'Blog List', articles_path %>
