<p>
    <strong>Title:</strong>
    <%= @article.title %>
    </p>
    
    <p>
        <strong>Text:</strong>
        <%= @article.text %>
    </p>
  <%= link_to 'Blog List', articles_path %> 
<h2>Replies</h2>
<% @article.replies.each do |reply| %>
  <p>
    <strong>Name:</strong>
    <%= reply.name %>
  </p>
 <p>
    <strong>Date:</strong>
    <%= reply.date %>
  </p>
  <p>
    <strong>Reply:</strong>
    <%= reply.reply %>
  </p>
<% end %>
<h2>Reply: </h2>
<%= form_for([@article, @article.replies.build]) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :date %><br>
    <%= f.text_area :date %>
  </p>
  <p>
    <%= f.label :reply %><br>
    <%= f.text_area :reply %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Blog List', articles_path %>
